*{
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Background colors */
.queen-pink{background-color: #e5c3d1;}
.cyber-grape{background-color: #613F75;}
.middle-blue-purple{background-color: #7D82B8;}
.pastel-pink{background-color: #f7a9a8;}
.ultra-red{background-color: #ef798a;}

/* text colors */
.white-text{color: white}

/* transitions */
.fade-in {
    opacity: 0;
    transition: opacity 10s ease;
    -webkit-transition: opacity 10s ease; /* Safari */
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s; /* Safari */
}

.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}

body{
    background-image: url(images/rps-bg-img.jpg);
}

#greeting-messages{
    margin-top: 20px;
}