*{
    padding: 0;
    margin: auto 0;
}

/* Background colors */
.queen-pink{background-color: #e5c3d1;}
.cyber-grape{background-color: #613F75;}
.middle-blue-purple{background-color: #7D82B8;}
.pastel-pink{background-color: #f7a9a8;}
.ultra-red{background-color: #ef798a;}
